h1 {
  text-align: center;
}

.s_spot {
  align-self: center;
  height: 2em;
  width: 2em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 2em;
}

:root {
  --numComponents: 1;
}
.row {
  width: 100%;
  background-color: blue;
}
.column {
  background-color: aqua;
  border-color: black;
  float: left;
  width: calc(100% / var(--numComponents));
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
