<!-- views/partials/parkingComponent.ejs -->
<div class="column">
    <br>
    <% if(totalSpacesData[spotTypeContext]){ %>
    <p><%= totalSpacesData[spotTypeContext]%></p>
    <% } %>
    <center><span class="s_spot"><%= spotTypeContext %></span></center>
</div>