<!-- views/partials/parkingComponent.ejs -->
<div class="column">
    <br>
    <% if(totalSpacesData[spotTypeContext]){ %>
    <p><%= totalSpacesData[spotTypeContext]%></p>
    <% } else{ %>
    <p>NA</p>
    <% } %>
    <div class="radial-progress">
        <div class="circle">
            <div class="mask full">
                <div class="fill"></div>
            </div>
            <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
            </div>
            <div class="shadow"></div>
        </div>
        <div class="inset"></div>
    </div>
    <center><span class="s_spot"><%= spotTypeContext %></span></center>
</div>