<!-- views/partials/parkingComponent.ejs -->
<div class="column">
    <br>
    <div class="progressdiv" data-percent=<%= spotData["open"]%>>
        <svg class="progress" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <circle fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle>
            <circle class="bar" fill="transparent" stroke-dasharray="502.4"
                stroke-dashoffset="0"></circle>
        </svg></div>
    <center><span><%= spotData["text"] %></span></center>
</div>