h1 {
  text-align: center;
}

.s_spot {
  align-self: center;
  height: 2em;
  width: 2em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 2em;
}

:root {
  --numComponents: 1;
}
.row {
  width: 100%;
  background-color: blue;
}
.column {
  background-color: aqua;
  border-color: black;
  float: left;
  width: calc(100% / var(--numComponents));
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.progress-circle {
  font-size: 20px;
  margin: 20px;
  position: relative; /* so that children can be absolutely positioned */
  padding: 0;
  width: 5em;
  height: 5em;
  background-color: #f2e9e1;
  border-radius: 50%;
  line-height: 5em;
}

.progress-circle:after {
  border: none;
  position: absolute;
  top: 0.35em;
  left: 0.35em;
  text-align: center;
  display: block;
  border-radius: 50%;
  width: 4.3em;
  height: 4.3em;
  background-color: white;
  content: " ";
}
