<!-- views/parking.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/parking.css" rel="stylesheet" type="text/css" />
    <title>Parking Card</title>
</head>

<body>
    <% if(lot) {%>
    <h1><%= lot %></h1>
    <%} else {%>
    <h1>No lot specified</h1>
    <%}%>
    <script> 
        document.documentElement.style.setProperty('--numComponents', <%= numSpots %>)</script>
    <div class="row">
        <div class="column">
            <span class="s_spot">S</span>
        </div>
        <div class="column">
            <span class="s_spot">S</span>
        </div>
    </div>

</body>

</html>