<!-- views/parking.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="parking.css" rel="stylesheet" type="text/css" /> -->
    <title>Parking Card</title>
    <style>
        #wrapper {
            max-width: 500px;
            max-height: 500px;
            margin: 0 auto;
            display: block;
        }

        h1 {
            text-align: center;
        }


        :root {
            --numComponents: 1;
        }

        .row {
            width: 100%;
        }

        .column {
            border-color: black;
            float: left;
            width: calc(100% / var(--numComponents));
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .progress {
            display: block;
            margin: 0 auto;
            overflow: hidden;
            transform: rotate(-90deg) rotateX(180deg);
            width: 30vw;
            height: 30vw;
        }

        .progress circle {
            stroke-dashoffset: 0;
            transition: stroke-dashoffset 1s ease;
            stroke: #a02e2e;
            stroke-width: 1em;
            r: 10vw;
            cx: 15vw;
            cy: 15vw;
        }

        .progress .bar {
            stroke: #ffffff;
            r: 10vw;
            cx: 15vw;
            cy: 15vw;
        }

        .progressdiv {
            position: relative;
        }

        .progressdiv:after {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 6vw;
            transform: translate(-50%, -50%);
            content: attr(data-percent)"%";
        }
    </style>
    <script>
        (function () {
            window.onload = function () {
                var totalProgress, progress;
                const circles = document.querySelectorAll('.progress');
                for (var i = 0; i < circles.length; i++) {
                    totalProgress = circles[i].querySelector('circle').getAttribute('stroke-dasharray');
                    progress = circles[i].parentElement.getAttribute('data-percent');
                    if (progress == 'NA') {
                        //If NA means no spots of this type
                        circles[i].querySelector('.bar').style['stroke-dashoffset'] = 0;
                    } else {
                        circles[i].querySelector('.bar').style['stroke-dashoffset'] = totalProgress * progress / 100;
                    }
                }
            }
        })();
    </script>
</head>

<body>

    <% if(typeof(lotName) != "undefined") {%>
    <div id="wrapper">
        <h1><%= lotName %></h1>
        <center>
            <p><%= lotContext %></p>
        </center>
        <center>
            <p class="total_spots"><%= totalSpaces %></p>
        </center>
        <% if(typeof(isHistoric) != "undefined") {%>
        <center>
            <b>⚠ No Live Data. Estimated availability shown. </b>
        </center>
        <% } else {%>
        <h1>No lot specified</h1>
        <%}%>
        
        <% if(typeof(userSpotData) != "undefined") {%>
        <div class="row">
            <% Object.keys(userSpotData).forEach(key => { %>
            <% console.log(key) %>
            <% console.log(userSpotData[key]) %>
            <%- include('partials/parkingComponent', {spotData: userSpotData[key]}) %>
            <% }); %>
        </div>
        <%} else {%>
        <center>No Spot Types Provided</center>
        <%}%>
    </div>
    <%}%>
</body>

</html>