<!-- views/parking.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/parking.css" rel="stylesheet" type="text/css" />
    <title>Parking Card</title>
</head>

<body>
    <% if(lotName) {%>
    <h1><%= lotName %></h1>
    <center><p><%= lotContext %></p></center>
    <center>
        <p class="total_spots"><%= totalSpaces %></p>
    </center>
    <%} else {%>
    <h1>No lot specified</h1>
    <%}%>
    <% if(numSpots && numSpots >= 1) {%>
    <script> document.documentElement.style.setProperty('--numComponents', <%= numSpots %>)</script>
    <div class="row">
        <div class="column">
            <span class="s_spot">S</span>
        </div>
        <% if(numSpots >= 2) {%>
        <div class="column">
            <span class="s_spot">S</span>
        </div>
        <%}%>
        <% if(numSpots >= 2) {%>
        <div class="column">
            <span class="s_spot">S</span>
        </div>
        <%}%>
    </div>
    <%} else {%>
        <center>No Spot Types Provided</center>
        <%}%>

</body>

</html>